= form_tag :communities, method: :get do
  .form-group
    .input-group
      = text_field_tag :q, search_params[:q], class: 'form-control', placeholder: 'Search for community'
      .input-group-btn
        = button_tag type: 'submit', class: 'btn btn-primary', id: 'search' do
          %i.fa.fa-search
