%h2 Arctic Water Resources Vulnerability Index

:markdown
  Fresh water is one of our most critical resources. Being able to see the ‘big picture’ of the water that communities rely on is an important asset in the decision-making process.

  The Arctic Water Resource Vulnerabilities Index (AWRVI) was developed because:

  * No index exists to assess resilience and vulnerability of people in the Arctic to changes in water resources.
  * Freshwater is critical to the sustainability of people in the Arctic.
  * People in the Arctic face uncertainty in their day-to-day lives due to environmental changes.
  * The need for Arctic communities to determine their vulnerability to changes in freshwater resources is becoming more urgent.
  * The Arctic is a unique environment with a challenging set of factors including remote communities with poorly developed infrastructure and high energy costs, a rapidly changing climate, and variable abundance of liquid water much of the year.

  AWRVI provides a holistic profile of a community’s key water issues. It is designed to be used specifically in the Arctic’s varied and unique environment. The tool is a composite water index to evaluate the well-being of Arctic communities with respect to fresh water and a tool comprised of 27 socio-economic (e.g., social network capacity), biological (e.g., subsistence habitat) and physical (e.g. variation in precipitation) indicators.

.text-center
  = link_to page_path('getting-started'), class: 'btn btn-info btn-lg' do
    Getting started
    %i.fa.fa-arrow-right
