%h2 Search communities for published Vulnerability Assesments or to start a new Vulnerability Assesment
= form_tag :communities, method: :get, class: '' do
  .row
    .col-xs-9.col-sm-10
      .form-group
        = text_field_tag :q, "", class: 'form-control', placeholder: 'Enter a community name to start searching'
    .col-xs-3.col-sm-2
      = button_tag type: 'submit', class: 'btn btn-primary btn-block', id: 'search' do
        %i.fa.fa-search
        Search
