.row
  .col-sm-offset-3.col-sm-6
    .jumbotron{ style: 'padding: 20px;' }
      %h2 AWRVI Sign In
      %p
        You must sign in to perform the requestion action,
        please select one of the option(s) below to sign in

      .form-actions
        = render "devise/shared/links"
