%h2= category.short_name
- if category.choices.any?
  -# = f.simple_fields_for :index_choices, category.choices do |choice|
  = f.association :choices, collection: category.choices, as: :radio_buttons, label_method: :description


= render partial: 'category', collection: category.children, locals: {f: f}