.text-center
  %h1
    AWRVI:
    = index.vulnerability_index

  - index.awrvi_version.children.each do |subindex|
    %p
      %strong #{subindex}:
      - subindex_value = indicator_value(index, subindex)
      = number_with_precision(subindex_value, precision: 2)


  %p.text-center
    Updated #{time_ago_in_words index.updated_at} ago
