.community-list {
  .community-item {
    margin-bottom: 10px;

    .community-title { margin: 0px; }
    .community-index {
      height: 160px;
      margin-top: 20px;
      .not-available {
        font-size: 2em;
      }
    }
  }

  .panel, .panel-body {
    height: 100%;
  }
}
