@import 'theme';

.community-row {
  @extend .row;

  &.with-sidebar {
    .community-body {
      @extend .col-xs-9;
      @extend .col-sm-9;
    }
    .community-sidebar {
      @extend .col-xs-3;
      @extend .col-sm-3;
    }
  }
  &.without-sidebar {
    .community-body {
      @extend .col-xs-12;
    }
  }
}

.vulnerability-index-form {
  .panel-body { background-color: #f5f5f5; }
  .form-sidebar {
    @extend .col-xs-3;
  }
  .form-inputs {
    @extend .col-xs-9;
    min-height: 450px;
    background-color: #fff; height: 100%;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;

  }
}

.home {
  .introduction {
    margin-bottom: 0px;
  }

  .recent {
    margin-bottom: 40px;
  }

  .search {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .footer {
    background-color: #fff;
    color: #000;
    padding: 20px 0px;
  }
}

.partner-logo {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 100px;;

  &:last-child {
    margin-right: 0;
  }

  img { max-height: 100%; }
}

.flash-container {
  position: absolute;
  top: 60px;
  right: 8px;
  z-index: 1000;
}
.flash {
  padding-right: 50px;
  position: relative;

  .close {
    position: absolute;
    right: 5px;
  }
}

.index-section {
  .progress {
    margin-bottom: 15px;
  }
  .progress:last-child {
    margin-bottom: 0px;
  }
}
