.panel.panel-default
  .panel-heading
    %h1.panel-title= community.name
  .panel-body
    - if community.indices.count > 0
      = community.indices.first.awrvi_index.to_f
    - else
      No index available
