.well.community-block
  .pull-right
    = link_to community_url(community), class: 'btn btn-default' do
      Show

  .community-name
    = community.name
  .community-index
    - if community.indices.count > 0
      = community.indices.first.awrvi_index.to_f
    - else
      No Index Defined
