%h2.community-title= community.name

.community-index
  - if @index || latest_vulnerability_assesment(community)
    = render 'indices/mini_index', index: @index || latest_vulnerability_assesment(community)
  - else
    .not-available
      No published Vulnerability Assesments available.
