%h2.community-title= community.name
- if community.current_index && community.current_index.reviewed?
  .label.label-success Reviewed

.community-index
  - if community.current_index
    = render 'indices/mini_index', index: community.current_index
  - else
    .not-available
      No published Vulnerability Assesments available.
