.jumbotron
  .text-center
    %h2 No published Vulnerability Assessments available.
    %p Find out how to get started creating Vulnerability Assessments
    = link_to new_community_index_path(community), class: 'btn btn-success btn-lg' do
      Start new Vulnerability Assessment
