.jumbotron
  .text-center
    %h2 No published AWRVI dashboards available.
    %p Find out how to get started creating AWRVI Dashboards
    = link_to new_community_index_path(community), class: 'btn btn-success btn-lg' do
      Start new AWRVI Dashboard
