%h1 Communities

.panel.panel-default
  .panel-heading
    = render 'search'

  .panel-body
    - @communities.each do |community|
      = render community

- content_for :sidebar do
  = link_to new_community_path, class: 'btn btn-success btn-block' do
    %i.fa.fa-plus
    New Community
